{% extends "base_bootstrap.html" %}
{% block title %}Online Crispy Forms{% endblock %}
{% block welcome %}
<h1>Django Crispy Forms and Messages</h1>
{% endblock %}
{% block content %}
<p>This sample code is available at
<a href="https://github.com/sulembutproton/onlearning" target="_blank">
https://github.com/sulembutproton/onlearning</a>
</p>
<p>This page is coming from a file in mainsite/crispy/templates/crispy/main.html</p>
<p>
<ul>
    <li><a href="boring">Boring Form</a></li>
    <li><a href="awesome">Awesome Form</a>
        (<a href="https://django-crispy-forms.readthedocs.io/en/latest/" target="_blank">Documentation for Crispy Forms</a>)
    </li>
</ul>
</p>

{% endblock %}
